<div class="container clrcon">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 pos">
            <strong><h4>{{head}}</h4></strong>
            <form [formGroup]="logs" (ngSubmit)="login()">
              <input type="text" id="txt" placeholder="UserId" name="uid" formControlName="uid">
                <br>
               <input type="password" id="txt" placeholder="Password" name="pswd" formControlName="pswd">
                <br>
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
          
            <input type="submit" value="SignUp" class="btn btn-success" (click)="regi()">
        </div>
        
        <div class="col-4">
            
        </div>
    </div>
</div>


<div class="l"></div> 
<div class="l1"></div>
<div class="l2"></div>
<div class="l3"></div>
